// sizes
$website-width: 1280px;
$bottom-bar-width: 5rem;
$section-max-height: calc(1080px / 3);

// colors
$clr-primary: #ffbc00;
$clr-accent-purple: #86437a;
$clr-accent-red: #cc4848;
$clr-light: #f5f5f5;
$clr-dark: #333;
$clr-dark-blue: #222a43;

// images
$hero-img: url('https://images.unsplash.com/photo-1551504057-af7151c788e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
$hero-img-alt1: url('https://images.unsplash.com/photo-1448550603489-a7e43b0da4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
$hero-img-alt2: url('https://images.unsplash.com/photo-1543411173-82669c51bbed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');