.page-container {
  margin: 0 auto;
  width: 100%;
  max-width: $website-width;
}

%btn-shared {
  width: fit-content;
  display: inline-block;
  padding: .8rem 1.5rem;
  transition: all 300ms;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
  text-align: center;
  text-transform: capitalize;
}

.btn {
  &-light {
    @extend %btn-shared;
    color: $clr-dark;
    background: $clr-light;
  }

  &-dark {
    @extend %btn-shared;
    color: $clr-light;
    background: $clr-dark;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $clr-primary;
}

// extend to flex row or column
%flex-center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  &-col {
    display: flex;
    flex-direction: column;
    &-center {
      display: flex;
      flex-direction: column;
      @extend %flex-center;
    }
  }
  
  &-row {
    display: flex;
    flex-direction: row;
    &-center {
      display: flex;
      flex-direction: row;
      @extend %flex-center;
    }
  }
}

// create bottom border on element, extend on ::after
%bottom-bar {
  position: absolute;
  bottom: 0%;
  left: calc((100% - #{$bottom-bar-width}) / 2);
  content: '';
  height: 100%;
  width: $bottom-bar-width;
  border-bottom: .3rem solid $clr-primary;
}

// set max height for sections where needed
%section-height {
  height: auto;
  max-height: $section-max-height;
}

// set home page card container grid
%section-grid-container {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "title title title title"
    "cards cards cards cards";
  grid-gap: 1rem;
  margin: 2rem 0;
  padding: 1.5rem 10%;
  text-align: center;
}